h2 {
    text-align: left;
}

h1 {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

#headerCont {
    background-color: lightblue;
}

#noProjectsCont {
    text-align: center;
    vertical-align: middle;
}